In [4]:
import os
import pandas as pd

# Combined ODI + Test + T20 stats

In [5]:
base_path = r'D:\Data\Projects\Cricket data\Cricket-Analysis\Dataset\combined odi+ t20 + test stats'

In [8]:
# get lit of all .csv files
csv_files = [file for file in os.listdir(base_path) if file.endswith('.csv')]

# Display the list
csv_files

['combined_most_catches.csv',
 'combined_most_matches_as_captain.csv',
 'combined_most_player_of_the_matches.csv',
 'combined_most_player_of_the_series.csv',
 'combined_most_runs.csv',
 'combined_most_wickets.csv',
 'combined_most_WK_dismissals.csv',
 'combined_results_summary.csv']

In [45]:
# Dictionary to hold Datframe
df_combined = {}

# Read each csv file into dataframe
for file in csv_files:
    file_path = os.path.join(base_path, file)
    # Remove 'combined_' prefix and '.csv' suffux for cleaner key names
    key = file.replace('.csv', '')
    df_combined[key]= pd.read_csv(file_path)

# show key loaded
list(df_combined.keys())

['combined_most_catches',
 'combined_most_matches_as_captain',
 'combined_most_player_of_the_matches',
 'combined_most_player_of_the_series',
 'combined_most_runs',
 'combined_most_wickets',
 'combined_most_WK_dismissals',
 'combined_results_summary']

In [46]:
for key in df_combined:
    print(f"\nðŸ“Š Data for: {key}")
    display(df_combined[key])

ðŸ“Š Data for: combined_most_catches

                   Player       Span  Mat  Inns   Ct  Max
0   DPMD Jayawardene (SL)  1997-2015  652   768  440    4
1        RT Ponting (Aus)  1995-2012  560   717  364    3
2        LRPL Taylor (NZ)  2006-2022  450   546  351    4
3          JH Kallis (SA)  1995-2014  519   664  338    4
4      Rahul Dravid (Ind)  1996-2012  509   571  334    4
5         SP Fleming (NZ)  1994-2008  396   480  306    5
6       Virat Kohli (Ind)  2008-2023  506   604  304    3
7           GC Smith (SA)  2002-2014  347   454  292    5
8          ME Waugh (Aus)  1988-2002  372   488  289    4
9         SPD Smith (Aus)  2010-2023  307   398  288    5
10           BC Lara (WI)  1990-2007  430   537  284    4
11        AR Border (Aus)  1978-1994  429   547  283    4
12         Joe Root (Eng)  2012-2023  329   446  281    4
13      Younis Khan (Pak)  2000-2017  408   503  281    4
14     M Azharuddin (Ind)  1984-2000  433   509  261    5
15     SR Tendulkar (Ind)  1989-2013  664   823  256    4
16        MJ Clarke (Aus)  2003-2015  394   500  253    4

ðŸ“Š Data for: combined_most_matches_as_captain

                   Player       Span  Mat    W    L  Tied  Draw     %W
0          MS Dhoni (Ind)  2007-2018  332  178  120     6    15  53.61
1        RT Ponting (Aus)  2002-2012  324  220   77     2    13  67.90
2         SP Fleming (NZ)  1997-2007  303  128  135     2    25  42.24
3           GC Smith (SA)  2003-2014  286  163   89     1    27  56.99
4         AR Border (Aus)  1984-1994  271  139   89     2    38  51.29
5        A Ranatunga (SL)  1988-1999  249  101  114     1    25  40.56
6      M Azharuddin (Ind)  1990-1999  221  104   90     2    19  47.05
7       Virat Kohli (Ind)  2013-2022  213  135   60     3    11  63.38
8        EJG Morgan (Eng)  2011-2022  198  118   67     4     0  59.59
9        SC Ganguly (Ind)  1999-2005  196   97   79     0    15  49.48
10      KS Willimson (NZ)  2012-2023  196  101   80     2     8  51.53
11         WJ Cronje (SA)  1994-2000  191  126   46     1    15  65.96
12       Imran Khan (Pak)  1982-1992  187   89   67     1    26  47.59
13  DPMD Jayawardene (SL)  2004-2013  186  101   67     2     8  54.30
14           BC Lara (WI)  1994-2007  172   69   85     0    11  40.11
15  WTS Porterfield (Ire)  2008-2019  172   76   84     2     0  44.18
16         SR Waugh (Aus)  1997-2004  163  108   44     3     7  66.25
17          CH Lloyd (WI)  1974-1985  158  100   30     1    26  63.29
18     ST Jayasuriya (SL)  1998-2003  156   84   59     2     8  53.84
19        AD Mathews (SL)  2012-2021  156   68   75     1     6  46.58
20      IVA Richards (WI)  1980-1991  155   94   44     0    15  60.64
21    Misbah-ul-Haq (Pak)  2008-2017  151   77   60     2    11  50.99

ðŸ“Š Data for: combined_most_player_of_the_matches

                   Player       Span    Mat  Awards  Test   ODI  T20i
0      SR Tendulkar (Ind)  1989-2013  664.0    76.0  14.0  62.0   0.0
1           V Kohli (Ind)  2008-2024  549.0    68.0  10.0  42.0  16.0
2      ST Jayasuriya (SL)  1989-2011  586.0    58.0   4.0  48.0   6.0
3          JH Kallis (SA)  1995-2014  519.0    57.0  23.0  32.0   2.0
4      KC Sangakkara (SL)  2000-2015  594.0    50.0  16.0  31.0   3.0
5        RT Ponting (Aus)  1995-2012  560.0    49.0  16.0  32.0   1.0
6   Shakib Al Hasan (Ban)  2003-2025  447.0    45.0   6.0  27.0  12.0
7      Rohit Sharma (Ind)  2007-2025  496.0    43.0   4.0  25.0  14.0
8     Shahid Afridi (Pak)  1996-2018  524.0    43.0   0.0  32.0  11.0
9            BC Lara (WI)  1990-2007  430.0    42.0  12.0  30.0   0.0
10      IVA Richards (WI)  1974-1991  308.0    41.0  10.0  31.0   0.0
11       PA de Silva (SL)  1984-2003  401.0    41.0  11.0  30.0   0.0
12  DPMD Jayawardene (SL)  1997-2015  652.0    41.0  13.0  22.0   6.0
13          CH Gayle (WI)  1999-2021  483.0    41.0   8.0  23.0  10.0
14    AB de Villiers (SA)  2004-2018  420.0    39.0   5.0  27.0   7.0
15      Wasim Akram (Pak)  1984-2003  460.0    39.0  17.0  22.0   0.0
16     David Warner (Aus)  2009-2024  379.0    38.0   8.0  18.0  12.0
17       SC Ganguly (Ind)  1992-2008  424.0    37.0   6.0  31.0   0.0
18                    NaN        NaN    NaN     NaN   NaN   NaN   NaN

ðŸ“Š Data for: combined_most_player_of_the_series

                   Player       Span  Mat  Series  Awards  Test  ODI  T20i
0           V Kohli (Ind)  2008-2023  518     156      21     3   11     7
1      SR Tendulkar (Ind)  1989-2013  664     183      20     5   15     0
2   Shakib Al Hasan (Ban)  2006-2023  423     154      17     5    7     5
3          JH Kallis (SA)  1995-2014  519     148      15     9    6     0
4      ST Jayasuriya (SL)  1989-2011  586     176      13     2   11     0
5      David Warner (Aus)  2009-2023  355     120      12     5    3     4
6           CH Gayle (WI)  1999-2021  483     141      12     2    8     2
7          R Ashwin (Ind)  2010-2023  272      98      11    10    0     1
8         SM Pollock (SA)  1995-2008  423     107      11     2    9     0
9      S Chanderpaul (WI)  1994-2015  454     136      11     7    4     0
10       RT Ponting (Aus)  1995-2012  560     147      11     4    7     0
11    M Muralitharan (SL)  1992-2011  495     155      11    11    0     0
12       Imran Khan (Pak)  1971-1992  263      74      10     8    2     0
13         Q de Kock (SA)  2012-2023  279      99      10     1    6     3
14           HM Amla (SA)  2004-2019  349     117      10     3    7     0
15       SC Ganguly (Ind)  1992-2008  424     120      10     3    7     0
16    AB de Villiers (SA)  2004-2016  420     136      10     4    6     0
17      Wasim Akram (Pak)  1984-2003  460     136      10     7    3     0
18        TM Dilshan (SL)  1999-2016  497     148      10     2    6     2
19     KC Sangakkara (SL)  2000-2015  594     167      10     4    5     1

ðŸ“Š Data for: combined_most_runs

                   Player       Span     Runs    Mat    HS    100     50
0      SR Tendulkar (Ind)  1989-2013  34357.0  664.0  248*  100.0  164.0
1      KC Sangakkara (SL)  2000-2015  28016.0  594.0   319   63.0  153.0
2       Virat Kohli (Ind)  2008-2025  27599.0  550.0  254*   82.0  143.0
3        RT Ponting (Aus)  1995-2012  27483.0  560.0   257   71.0  146.0
4   DPMD Jayawardene (SL)  1997-2015  25957.0  652.0   374   54.0  136.0
5          JH Kallis (SA)  1995-2014  25534.0  519.0   224   62.0  149.0
6      Rahul Dravid (Ind)  1996-2012  24208.0  509.0   270   48.0  146.0
7            BC Lara (WI)  1990-2007  22358.0  430.0  400*   53.0  111.0
8          Joe Root (Eng)  2012.2025  21134.0  367.0   262   54.0  113.0
9      ST Jayasuriya (SL)  1989-2011  21032.0  586.0   340   42.0  103.0
10     S Chanderpaul (WI)  1994-2015  20988.0  454.0  203*   41.0  125.0
11   Inzamam-ul-Haq (Pak)  1991-2007  20580.0  499.0   329   35.0  129.0
12    AB de Villiers (SA)  2004-2018  20014.0  420.0  278*   47.0  109.0
13     Rohit Sharma (Ind)  2007-2025  19700.0  499.0   264   49.0  108.0
14          CH Gayle (WI)  1999-2021  19593.0  483.0   333   42.0  105.0
15     David Warner (Aus)  2009-2024  18995.0  383.0  335*   49.0   98.0
16           HM Amla (SA)  2004-2019  18672.0  349.0  311*   55.0   88.0
17       SC Ganguly (Ind)  1992-2008  18575.0  424.0   239   38.0  107.0
18         SR Waugh (Aus)  1985-2004  18496.0  493.0   200   35.0   95.0
19       LRPL Taylor (NZ)  2006-2022  18199.0  450.0   290   40.0   93.0
20                    NaN        NaN      NaN    NaN   NaN    NaN    NaN

ðŸ“Š Data for: combined_most_wickets

                   Player       Span   Wkt  Mat  Balls   Runs    BBI  5W  10W
0     M Muralitharan (SL)  1992-2011  1347  495  63132  30803   9/51  77   22
1          SK Warne (Aus)  1992-2007  1001  339  51347  25536   8/71  38   10
2       JM Anderson (Eng)  2002-2024   987  399  49787  26922   7/42  34    3
3       Anil Kumble (Ind)  1990-2008   956  403  55346  28767  10/74  37    8
4        GD McGrath (Aus)  1993-2007   949  376  42266  20656   8/24  36    3
5       Wasim Akram (Pak)  1994-2003   916  460  40813  21591  7/119  31    5
6         SCJ Broad (Eng)  2006-2023   847  344  40980  23574   8/15  21    3
7         SM Pollock (SA)  1995-2008   829  423  40308  19673   7/87  21    1
8      Waqar Younis (Pak)  1989-2003   789  349  28922  18707   7/36  35    5
9         TG Southee (NZ)  2008-2024   768  390  33796  22598   7/33  20    1
10     Chaminda Vaas (SL)  1994-2009   761  439  39345  21643   8/19  16    2
11         R Ashwin (Ind)  2010-2024   756  284  34385  19368   7/59  37    8
12          CA Walsh (WI)  1984-2001   746  337  40841  19606   7/37  23    3
13            B Lee (Aus)  1999-2012   718  322  28261  19145   5/22  19    0
14  Shakib Al Hasan (Ban)  2006-2024   712  447  30995  20281   7/36  25    2
15  Harbhajan Singh (Ind)  1998-2016   711  367  41671  23143   8/84  28    5
16        DL Vettori (NZ)  1997-2015   705  442  43661  22863   7/87  22    3

ðŸ“Š Data for: combined_most_WK_dismissals

                   Player       Span  Mat  Dis   Ct   St  Max
0         MV Boucher (SA)  1997-2012  467  998  952   46    6
1      AC Gilchrist (Aus)  1996-2008  396  905  813   92    6
2          MS Dhoni (Ind)  2004-2019  538  829  634  195    6
3      KC Sangakkara (SL)  2000-2015  594  678  539  139    5
4          IA Healy (Aus)  1988-1999  287  628  560   68    6
5          Q de Kock (SA)  2012-2023  279  530  487   43    6
6          RW Marsh (Aus)  1970-1984  188  479  463   16    6
7         BJ Haddin (Aus)  2001-2015  226  474  449   25    6
8          PJL Dujon (WI)  1981-1991  250  474  448   26    5
9           D Ramdin (WI)  2005-2016  284  468  429   39    5
10     Kamran Akmal (Pak)  2002-2014  261  453  368   85    5
11       BB McCullum (NZ)  2002-2016  432  453  419   34    5
12  Mushfiqur Rahim (Ban)  2005-2023  443  450  350  100    5
13      Jos Buttler (Eng)  2011-2023  335  446  399   47    6
14        Moin Khan (Pak)  1990-2004  288  434  341   93    5
15         RD Jacobs (WI)  1996-2004  212  408  367   41    7
16       AJ Stewart (Eng)  1989-2003  303  404  375   29    6

ðŸ“Š Data for: combined_results_summary

    Team       Span   Mat     W    L  Tied  Draw  NR     %W
0    Eng  1877-2023  2026   878  746    11   355  36  43.33
1    Aus  1877-2023  2019  1098  651    14   218  38  54.38
2    Ind  1932-2023  1816   489  682    14   222  49  46.75
3    Pak  1952-2023  1637   790  642    12   166  27  48.25
4     WI  1928-2023  1624   676  712    15   181  40  41.62
5     NZ  1930-2023  1472   584  654    17   170  47  39.67
6     SL  1975-2023  1392   592  658     9    92  41  42.52
7     SA  1889-2023  1290   674  460     7   125  24  52.24
8    Zim  1983-2023   806   202  551    10    29  14  25.06
9    Ban  1986-2023   710   228  452     0    18  12  32.11
10   Ire  2006-2023   355   142  188     5     0  20  40.00
11  Afgh  2009-2023   274   148  120     2     0   4  54.01
12  Scot  1999-2023   242   109  121     2     0  10  45.04
13   Ken  1996-2023   231    79  144     0     0   8  34.19
14  Neth  1996-2023   212    88  113     4     0   7  41.50

In [33]:
# removing NaN frpm tables
for key in df_combined:
    df_combined[key].dropna(how="any", inplace=True)

In [38]:
# Get the specific DataFrame, as we are going to add full name as a column
df_Team = df_combined['combined_results_summary']
df_Team

    Team       Span   Mat     W    L  Tied  Draw  NR     %W
0    Eng  1877-2023  2026   878  746    11   355  36  43.33
1    Aus  1877-2023  2019  1098  651    14   218  38  54.38
2    Ind  1932-2023  1816   489  682    14   222  49  46.75
3    Pak  1952-2023  1637   790  642    12   166  27  48.25
4     WI  1928-2023  1624   676  712    15   181  40  41.62
5     NZ  1930-2023  1472   584  654    17   170  47  39.67
6     SL  1975-2023  1392   592  658     9    92  41  42.52
7     SA  1889-2023  1290   674  460     7   125  24  52.24
8    Zim  1983-2023   806   202  551    10    29  14  25.06
9    Ban  1986-2023   710   228  452     0    18  12  32.11
10   Ire  2006-2023   355   142  188     5     0  20  40.00
11  Afgh  2009-2023   274   148  120     2     0   4  54.01
12  Scot  1999-2023   242   109  121     2     0  10  45.04
13   Ken  1996-2023   231    79  144     0     0   8  34.19
14  Neth  1996-2023   212    88  113     4     0   7  41.50

In [49]:
# Get the specific DataFrame, as we are going to add full name as a column
df_Team = df_combined['combined_results_summary']

# Define the team code to full name mapping
team_name_map = {
    'Eng': 'England',
    'Aus': 'Australia',
    'Ind': 'India',
    'Pak': 'Pakistan',
    'WI': 'West Indies',
    'NZ': 'New Zealand',
    'SL': 'Sri Lanka',
    'SA': 'South Africa',
    'Zim': 'Zimbabwe',
    'Ban': 'Bangladesh',
    'Ire': 'Ireland',
    'Afgh': 'Afghanistan',
    'Scot': 'Scotland',
    'Ken': 'Kenya',
    'Neth': 'Netherlands'
}
# Add a new column for the full team name
df_Team['Team_full'] = df_Team['Team'].map(team_name_map)

#save back to the main directory
df_combined['combined_results_summary'] = df_Team

#previe updayed data frame
display(df_combined)

{'combined_most_catches':                    Player       Span  Mat  Inns   Ct  Max
 0   DPMD Jayawardene (SL)  1997-2015  652   768  440    4
 1        RT Ponting (Aus)  1995-2012  560   717  364    3
 2        LRPL Taylor (NZ)  2006-2022  450   546  351    4
 3          JH Kallis (SA)  1995-2014  519   664  338    4
 4      Rahul Dravid (Ind)  1996-2012  509   571  334    4
 5         SP Fleming (NZ)  1994-2008  396   480  306    5
 6       Virat Kohli (Ind)  2008-2023  506   604  304    3
 7           GC Smith (SA)  2002-2014  347   454  292    5
 8          ME Waugh (Aus)  1988-2002  372   488  289    4
 9         SPD Smith (Aus)  2010-2023  307   398  288    5
 10           BC Lara (WI)  1990-2007  430   537  284    4
 11        AR Border (Aus)  1978-1994  429   547  283    4
 12         Joe Root (Eng)  2012-2023  329   446  281    4
 13      Younis Khan (Pak)  2000-2017  408   503  281    4
 14     M Azharuddin (Ind)  1984-2000  433   509  261    5
 15     SR Tendulkar (Ind)  1989-2013  664   823  256    4
 16        MJ Clarke (Aus)  2003-2015  394   500  253    4,
 'combined_most_matches_as_captain':                    Player       Span  Mat    W    L  Tied  Draw     %W
 0          MS Dhoni (Ind)  2007-2018  332  178  120     6    15  53.61
 1        RT Ponting (Aus)  2002-2012  324  220   77     2    13  67.90
 2         SP Fleming (NZ)  1997-2007  303  128  135     2    25  42.24
 3           GC Smith (SA)  2003-2014  286  163   89     1    27  56.99
 4         AR Border (Aus)  1984-1994  271  139   89     2    38  51.29
 5        A Ranatunga (SL)  1988-1999  249  101  114     1    25  40.56
 6      M Azharuddin (Ind)  1990-1999  221  104   90     2    19  47.05
 7       Virat Kohli (Ind)  2013-2022  213  135   60     3    11  63.38
 8        EJG Morgan (Eng)  2011-2022  198  118   67     4     0  59.59
 9        SC Ganguly (Ind)  1999-2005  196   97   79     0    15  49.48
 10      KS Willimson (NZ)  2012-2023  196  101   80     2     8  51.53
 11         WJ Cronje (SA)  1994-2000  191  126   46     1    15  65.96
 12       Imran Khan (Pak)  1982-1992  187   89   67     1    26  47.59
 13  DPMD Jayawardene (SL)  2004-2013  186  101   67     2     8  54.30
 14           BC Lara (WI)  1994-2007  172   69   85     0    11  40.11
 15  WTS Porterfield (Ire)  2008-2019  172   76   84     2     0  44.18
 16         SR Waugh (Aus)  1997-2004  163  108   44     3     7  66.25
 17          CH Lloyd (WI)  1974-1985  158  100   30     1    26  63.29
 18     ST Jayasuriya (SL)  1998-2003  156   84   59     2     8  53.84
 19        AD Mathews (SL)  2012-2021  156   68   75     1     6  46.58
 20      IVA Richards (WI)  1980-1991  155   94   44     0    15  60.64
 21    Misbah-ul-Haq (Pak)  2008-2017  151   77   60     2    11  50.99,
 'combined_most_player_of_the_matches':                    Player       Span    Mat  Awards  Test   ODI  T20i
 0      SR Tendulkar (Ind)  1989-2013  664.0    76.0  14.0  62.0   0.0
 1           V Kohli (Ind)  2008-2024  549.0    68.0  10.0  42.0  16.0
 2      ST Jayasuriya (SL)  1989-2011  586.0    58.0   4.0  48.0   6.0
 3          JH Kallis (SA)  1995-2014  519.0    57.0  23.0  32.0   2.0
 4      KC Sangakkara (SL)  2000-2015  594.0    50.0  16.0  31.0   3.0
 5        RT Ponting (Aus)  1995-2012  560.0    49.0  16.0  32.0   1.0
 6   Shakib Al Hasan (Ban)  2003-2025  447.0    45.0   6.0  27.0  12.0
 7      Rohit Sharma (Ind)  2007-2025  496.0    43.0   4.0  25.0  14.0
 8     Shahid Afridi (Pak)  1996-2018  524.0    43.0   0.0  32.0  11.0
 9            BC Lara (WI)  1990-2007  430.0    42.0  12.0  30.0   0.0
 10      IVA Richards (WI)  1974-1991  308.0    41.0  10.0  31.0   0.0
 11       PA de Silva (SL)  1984-2003  401.0    41.0  11.0  30.0   0.0
 12  DPMD Jayawardene (SL)  1997-2015  652.0    41.0  13.0  22.0   6.0
 13          CH Gayle (WI)  1999-2021  483.0    41.0   8.0  23.0  10.0
 14    AB de Villiers (SA)  2004-2018  420.0    39.0   5.0  27.0   7.0
 15      Wasim Akram (Pak)  1984-2003  460.0    39.0  17.0  22.0   0.0
 16     David Warner (Aus)  2009-2024  379.0    38.0   8.0  18.0  12.0
 17       SC Ganguly (Ind)  1992-2008  424.0    37.0   6.0  31.0   0.0
 18                    NaN        NaN    NaN     NaN   NaN   NaN   NaN,
 'combined_most_player_of_the_series':                    Player       Span  Mat  Series  Awards  Test  ODI  T20i
 0           V Kohli (Ind)  2008-2023  518     156      21     3   11     7
 1      SR Tendulkar (Ind)  1989-2013  664     183      20     5   15     0
 2   Shakib Al Hasan (Ban)  2006-2023  423     154      17     5    7     5
 3          JH Kallis (SA)  1995-2014  519     148      15     9    6     0
 4      ST Jayasuriya (SL)  1989-2011  586     176      13     2   11     0
 5      David Warner (Aus)  2009-2023  355     120      12     5    3     4
 6           CH Gayle (WI)  1999-2021  483     141      12     2    8     2
 7          R Ashwin (Ind)  2010-2023  272      98      11    10    0     1
 8         SM Pollock (SA)  1995-2008  423     107      11     2    9     0
 9      S Chanderpaul (WI)  1994-2015  454     136      11     7    4     0
 10       RT Ponting (Aus)  1995-2012  560     147      11     4    7     0
 11    M Muralitharan (SL)  1992-2011  495     155      11    11    0     0
 12       Imran Khan (Pak)  1971-1992  263      74      10     8    2     0
 13         Q de Kock (SA)  2012-2023  279      99      10     1    6     3
 14           HM Amla (SA)  2004-2019  349     117      10     3    7     0
 15       SC Ganguly (Ind)  1992-2008  424     120      10     3    7     0
 16    AB de Villiers (SA)  2004-2016  420     136      10     4    6     0
 17      Wasim Akram (Pak)  1984-2003  460     136      10     7    3     0
 18        TM Dilshan (SL)  1999-2016  497     148      10     2    6     2
 19     KC Sangakkara (SL)  2000-2015  594     167      10     4    5     1,
 'combined_most_runs':                    Player       Span     Runs    Mat    HS    100     50
 0      SR Tendulkar (Ind)  1989-2013  34357.0  664.0  248*  100.0  164.0
 1      KC Sangakkara (SL)  2000-2015  28016.0  594.0   319   63.0  153.0
 2       Virat Kohli (Ind)  2008-2025  27599.0  550.0  254*   82.0  143.0
 3        RT Ponting (Aus)  1995-2012  27483.0  560.0   257   71.0  146.0
 4   DPMD Jayawardene (SL)  1997-2015  25957.0  652.0   374   54.0  136.0
 5          JH Kallis (SA)  1995-2014  25534.0  519.0   224   62.0  149.0
 6      Rahul Dravid (Ind)  1996-2012  24208.0  509.0   270   48.0  146.0
 7            BC Lara (WI)  1990-2007  22358.0  430.0  400*   53.0  111.0
 8          Joe Root (Eng)  2012.2025  21134.0  367.0   262   54.0  113.0
 9      ST Jayasuriya (SL)  1989-2011  21032.0  586.0   340   42.0  103.0
 10     S Chanderpaul (WI)  1994-2015  20988.0  454.0  203*   41.0  125.0
 11   Inzamam-ul-Haq (Pak)  1991-2007  20580.0  499.0   329   35.0  129.0
 12    AB de Villiers (SA)  2004-2018  20014.0  420.0  278*   47.0  109.0
 13     Rohit Sharma (Ind)  2007-2025  19700.0  499.0   264   49.0  108.0
 14          CH Gayle (WI)  1999-2021  19593.0  483.0   333   42.0  105.0
 15     David Warner (Aus)  2009-2024  18995.0  383.0  335*   49.0   98.0
 16           HM Amla (SA)  2004-2019  18672.0  349.0  311*   55.0   88.0
 17       SC Ganguly (Ind)  1992-2008  18575.0  424.0   239   38.0  107.0
 18         SR Waugh (Aus)  1985-2004  18496.0  493.0   200   35.0   95.0
 19       LRPL Taylor (NZ)  2006-2022  18199.0  450.0   290   40.0   93.0
 20                    NaN        NaN      NaN    NaN   NaN    NaN    NaN,
 'combined_most_wickets':                    Player       Span   Wkt  Mat  Balls   Runs    BBI  5W  10W
 0     M Muralitharan (SL)  1992-2011  1347  495  63132  30803   9/51  77   22
 1          SK Warne (Aus)  1992-2007  1001  339  51347  25536   8/71  38   10
 2       JM Anderson (Eng)  2002-2024   987  399  49787  26922   7/42  34    3
 3       Anil Kumble (Ind)  1990-2008   956  403  55346  28767  10/74  37    8
 4        GD McGrath (Aus)  1993-2007   949  376  42266  20656   8/24  36    3
 5       Wasim Akram (Pak)  1994-2003   916  460  40813  21591  7/119  31    5
 6         SCJ Broad (Eng)  2006-2023   847  344  40980  23574   8/15  21    3
 7         SM Pollock (SA)  1995-2008   829  423  40308  19673   7/87  21    1
 8      Waqar Younis (Pak)  1989-2003   789  349  28922  18707   7/36  35    5
 9         TG Southee (NZ)  2008-2024   768  390  33796  22598   7/33  20    1
 10     Chaminda Vaas (SL)  1994-2009   761  439  39345  21643   8/19  16    2
 11         R Ashwin (Ind)  2010-2024   756  284  34385  19368   7/59  37    8
 12          CA Walsh (WI)  1984-2001   746  337  40841  19606   7/37  23    3
 13            B Lee (Aus)  1999-2012   718  322  28261  19145   5/22  19    0
 14  Shakib Al Hasan (Ban)  2006-2024   712  447  30995  20281   7/36  25    2
 15  Harbhajan Singh (Ind)  1998-2016   711  367  41671  23143   8/84  28    5
 16        DL Vettori (NZ)  1997-2015   705  442  43661  22863   7/87  22    3,
 'combined_most_WK_dismissals':                    Player       Span  Mat  Dis   Ct   St  Max
 0         MV Boucher (SA)  1997-2012  467  998  952   46    6
 1      AC Gilchrist (Aus)  1996-2008  396  905  813   92    6
 2          MS Dhoni (Ind)  2004-2019  538  829  634  195    6
 3      KC Sangakkara (SL)  2000-2015  594  678  539  139    5
 4          IA Healy (Aus)  1988-1999  287  628  560   68    6
 5          Q de Kock (SA)  2012-2023  279  530  487   43    6
 6          RW Marsh (Aus)  1970-1984  188  479  463   16    6
 7         BJ Haddin (Aus)  2001-2015  226  474  449   25    6
 8          PJL Dujon (WI)  1981-1991  250  474  448   26    5
 9           D Ramdin (WI)  2005-2016  284  468  429   39    5
 10     Kamran Akmal (Pak)  2002-2014  261  453  368   85    5
 11       BB McCullum (NZ)  2002-2016  432  453  419   34    5
 12  Mushfiqur Rahim (Ban)  2005-2023  443  450  350  100    5
 13      Jos Buttler (Eng)  2011-2023  335  446  399   47    6
 14        Moin Khan (Pak)  1990-2004  288  434  341   93    5
 15         RD Jacobs (WI)  1996-2004  212  408  367   41    7
 16       AJ Stewart (Eng)  1989-2003  303  404  375   29    6,
 'combined_results_summary':     Team       Span   Mat     W    L  Tied  Draw  NR     %W     Team_full
 0    Eng  1877-2023  2026   878  746    11   355  36  43.33       England
 1    Aus  1877-2023  2019  1098  651    14   218  38  54.38     Australia
 2    Ind  1932-2023  1816   489  682    14   222  49  46.75         India
 3    Pak  1952-2023  1637   790  642    12   166  27  48.25      Pakistan
 4     WI  1928-2023  1624   676  712    15   181  40  41.62   West Indies
 5     NZ  1930-2023  1472   584  654    17   170  47  39.67   New Zealand
 6     SL  1975-2023  1392   592  658     9    92  41  42.52     Sri Lanka
 7     SA  1889-2023  1290   674  460     7   125  24  52.24  South Africa
 8    Zim  1983-2023   806   202  551    10    29  14  25.06      Zimbabwe
 9    Ban  1986-2023   710   228  452     0    18  12  32.11    Bangladesh
 10   Ire  2006-2023   355   142  188     5     0  20  40.00       Ireland
 11  Afgh  2009-2023   274   148  120     2     0   4  54.01   Afghanistan
 12  Scot  1999-2023   242   109  121     2     0  10  45.04      Scotland
 13   Ken  1996-2023   231    79  144     0     0   8  34.19         Kenya
 14  Neth  1996-2023   212    88  113     4     0   7  41.50   Netherlands}

In [51]:

# Define the output Excel file path
output_excel_path = "D:\Data\Projects\Cricket data\Cricket-Analysis\Dataset\combined odi+ t20 + test stats\combined_odi_t20_test_stats.xlsx"

# Create a Pandas Excel writer using openpyxl engine
with pd.ExcelWriter(output_excel_path, engine='openpyxl') as writer:
    for sheet_name, df in df_combined.items():
        # Clean sheet name (Excel doesn't allow some characters)
        clean_sheet_name = sheet_name[:31].replace('/', '_')  # Excel sheet name max = 31 chars
        df.to_excel(writer, sheet_name=clean_sheet_name, index=False)

print(f"âœ… Excel file created: {output_excel_path}")

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\steff\AppData\Local\Temp\ipykernel_7548\1731749555.py:2: SyntaxWarning: invalid escape sequence '\D'
  output_excel_path = "D:\Data\Projects\Cricket data\Cricket-Analysis\Dataset\combined odi+ t20 + test stats\combined_odi_t20_test_stats.xlsx"

âœ… Excel file created: D:\Data\Projects\Cricket data\Cricket-Analysis\Dataset\combined odi+ t20 + test stats\combined_odi_t20_test_stats.xlsx

# ODI Stats

In [52]:
base_path2 = r'D:\Data\Projects\Cricket data\Cricket-Analysis\Dataset\odi stats'

In [53]:
# get lit of all .csv files
csv_files_odi = [file for file in os.listdir(base_path2) if file.endswith('.csv')]

csv_files_odi

['ODI_most_catches.csv',
 'ODI_most_matches_as_captain.csv',
 'ODI_most_player_of_the_matches.csv',
 'ODI_most_player_of_the_series.csv',
 'ODI_most_runs.csv',
 'ODI_most_wickets.csv',
 'ODI_most_WK_dismissals.csv',
 'ODI_results_summary.csv']

In [63]:
# Dictinary to hold dataframe
df_odi = {}

#Read each scv to data frmae
for file in csv_files_odi:
    file_path_odi = os.path.join(base_path2, file)
    key = file.replace('.csv', '')
    df_odi[key] = pd.read_csv(file_path_odi)

list(df_odi.keys())

['ODI_most_catches',
 'ODI_most_matches_as_captain',
 'ODI_most_player_of_the_matches',
 'ODI_most_player_of_the_series',
 'ODI_most_runs',
 'ODI_most_wickets',
 'ODI_most_WK_dismissals',
 'ODI_results_summary']

In [64]:
for key in df_odi:
    print(f"\n Data of : {key}")
    display(df_odi[key])

 Data of : ODI_most_catches

                   Player       Span  Mat   Ct  Max
0   DPMD Jayawardene (SL)  1998-2015  448  218    4
1        RT Ponting (Aus)  1995-2012  375  160    3
2      M Azharuddin (Ind)  1985-2000  334  156    4
3       Virat Kohli (Ind)  2008-2023  279  143    3
4        LRPL Taylor (NZ)  2006-2022  236  142    4
5      SR Tendulkar (Ind)  1989-2012  463  140    4
6        SP Flemming (NZ)  1994-2007  280  133    4
7          JH Kallis (SA)  1996-2014  328  131    3
8       Younis Khan (Pak)  2000-2015  265  130    4
9     M Muralitharan (SL)  1993-2011  350  130    3
10        AR Border (Aus)  1979-1994  273  127    3
11    Shahid Afridi (Pak)  1996-2015  398  127    2
12     Rahul Dravid (Ind)  1996-2011  344  124    4
13          CH Gayle (WI)  1999-2019  301  124    3
14     ST Jayasuriya (SL)  1989-2011  445  123    3
15         CL Hooper (WI)  1987-2003  227  120    4
16           BC Lara (WI)  1990-2007  299  120    3

 Data of : ODI_most_matches_as_captain

                   Player       Span  Mat    W    L  Ties  NR      %
0        RT Ponting (Aus)  2002-2012  230  165   51     2  12  76.14
1         SP Fleming (NZ)  1997-2007  218   98  106     1  13  48.04
2          MS Dhoni (Ind)  2007-2018  200  110   74     5  11  59.57
3        A Ranatunga (SL)  1988-1999  193   89   95     1   8  48.37
4         AR Border (Aus)  1985-1994  178  107   67     1   3  61.42
5      M Azharuddin (Ind)  1990-1999  174   90   76     2   6  54.16
6           GC Smith (SA)  2003-2011  150   92   51     1   6  64.23
7        SC Ganguly (Ind)  1999-2005  147   76   66     0   5  53.52
8        Imran Khan (Pak)  1982-1992  139   75   59     1   4  55.92
9          WJ Cronje (SA)  1994-2000  138   99   35     1   3  73.70
10  DPMD Jayawardene (SL)  2004-2013  129   71   49     1   8  59.09
11       EJG Morgan (Eng)  2011-2022  126   76   40     2   0  66.25
12           BC Lara (WI)  1994-2007  125   59   59     0   7  50.00
13     ST Jayasuriya (SL)  1998-2003  118   66   47     2   3  58.26
14  WTS Porterfield (Ire)  2008-2019  113   50   55     2   0  47.66
15      Wasim Akram (Pak)  1993-2000  109   66   41     2   0  61.46
16        AD Mathews (SL)  2012-2018  106   49   51     1   0  49.00
17         SR Waugh (Aus)  1997-2002  106   67   35     3   1  65.23
18      IVA Richards (WI)  1980-1991  105   67   36     0   2  65.04
19    AB de Villiers (SA)  2012-2017  103   59   39     1   4  60.10
20        SM Pollock (SA)  2000-2005   97   60   33     3   0  64.06
21      Virat Kohli (Ind)  2013-2021   95   65   27     1   0  70.43

 Data of : ODI_most_player_of_the_matches

                   Player       Span  Mat  Awards
0      SR Tendulkar (Ind)  1989-2012  463      62
1      ST Jayasuriya (SL)  1989-2011  445      48
2           V Kohli (Ind)  2008-2025  301      42
3          JH Kallis (SA)  1996-2014  328      32
4        RT Ponting (Aus)  1995-2012  375      32
5     Shahid Afridi (Pak)  1996-2015  398      32
6       IVA Richards (WI)  1975-1991  187      31
7        SC Ganguly (Ind)  1992-2007  311      31
8      KC Sangakkara (SL)  2000-2015  404      31
9            BC Lara (WI)  1990-2007  299      30
10       PA de Silva (SL)  1984-2003  308      30
11      Saeed Anwar (Pak)  1989-2003  247      28
12     AC Gilchrist (Aus)  1996-2008  287      28
13    AB de Villiers (SA)  2005-2017  225      27
14     Yuvraj Singh (Ind)  2000-2017  304      27
15  Shakib Al Hasan (Ban)  2006-2023  240      26
16          NJ Astle (NZ)  1995-2007  223      25
17         DL Haynes (WI)  1978-1994  238      25
18        TM Dilshan (SL)  1999-2016  330      25

 Data of : ODI_most_player_of_the_series

                   Player       Span  Mat  Series  Awards
0      SR Tendulkar (Ind)  1989-2012  463     108      15
1      ST Jayasuriya (SL)  1989-2011  445     111      11
2           V Kohli (Ind)  2008-2023  293      72      11
3         SM Pollock (SA)  1996-2008  303      60       9
4           CH Gayle (WI)  1999-2019  296      70       8
5            HM Amla (SA)  2008-2019  181      49       7
6       IVA Richards (WI)  1975-1991  187      40       7
7      Yuvraj Singh (Ind)  2000-2017  304      71       7
8   Shakib Al Hasan (Ban)  2006-2023  240      72       7
9        SC Ganguly (Ind)  1992-2007  311      75       7
10       RT Ponting (Aus)  1995-2012  375      77       7
11         MS Dhoni (Ind)  2004-2019  347      80       7
12         Q de Kock (SA)  2013-2023  144      43       6
13    AB de Villiers (SA)  2005-2018  228      61       6
14      Tamim Iqbal (Ban)  2007-2023  241      74       6
15         JH Kallis (SA)  1996-2014  328      76       6
16          M Rahim (Ban)  2003-2023  255      77       6
17        TM Dilshan (SL)  1999-2016  330      80       6
18   Inzamam-ul-Haq (Pak)  1991-2007  378      92       6

 Data of : ODI_most_runs

                   Player       Span   Runs  Mat    HS  100  50
0      SR Tendulkar (Ind)  1989-2012  18426  463  200*   49  96
1      KC Sangakkara (SL)  2000-2015  14234  404   169   25  93
2       Virat Kohli (Ind)  2008-2025  14181  302   183   51  74
3        RT Ponting (Aus)  1996-2012  13704  375   164   30  82
4      ST Jayasuriya (SL)  1989-2011  13430  445   189   28  68
5   DPMD Jayawardene (SL)  1998-2015  12650  448   144   19  77
6    Inzamam-ul-Haq (Pak)  1991-2007  11739  378  137*   10  83
7          JH Kallis (SA)  1996-2014  11579  328   139   17  86
8        SC Ganguly (Ind)  1992-2007  11363  311   183   22  72
9         RG Sharma (Ind)  2007-2025  11168  273   264   32  58
10     Rahul Dravid (Ind)  1996-2011  10768  344   153   12  83
11         MS Dhoni (Ind)  2004-2019  10773  350  183*   10  73
12          CH Gayle (WI)  1999-2019  10480  301   215   25  54
13           BC Lara (WI)  1990-2007  10405  299   169   19  63
14        TM Dilshan (SL)  1999-2016  10290  330  161*   22  47
15       Mhd Yousuf (Pak)  1998-2010   9720  288  141*   15  64
16     AC Gilchrist (Aus)  1996-2008   9619  287   172   16  55
17    AB de Villiers (SA)  2005-2017   9577  228   176   25  53
18     M Azharuddin (Ind)  1985-2000   9378  334  153*    7  58
19       PA de Silva (SL)  1984-2003   9284  308   145   11  64

 Data of : ODI_most_wickets

                   Player       Span  Wkt  Mat  Balls   Runs   BBI  5 wkts
0     M Muralitharan (SL)  1993-2011  534  350  18811  12326  7/30      10
1       Wasim Akram (Pak)  1984-2003  502  356  18186  11812  5/15       6
2      Waqar Younis (Pak)  1989-2003  416  262  12698   9919  7/36      13
3      Chaminda Vaas (SL)  1994-2008  400  322  15775  11014  8/19       4
4     Shahid Afridi (Pak)  1996-2015  395  398  17670  13632  7/12       9
5         SM Pollock (SA)  1996-2008  393  303  15712   9631  6/35       5
6        GD McGrath (Aus)  1993-2007  381  250  12970   8391  7/15       7
7             B Lee (Aus)  2000-2012  380  221  11185   8877  5/22       9
8         SL Malinga (SL)  2004-2019  338  226  10936   9760  6/38       8
9          A Kumble (Ind)  1990-2007  337  271  14496  10412  6/12       2
10     ST Jayasuriya (SL)  1989-2011  323  445  14874  11871  6/29       4
11  Shakib Al-Hasan (Ban)  2006-2023  317  247  12575   9360  5/29       4
12        J Srinath (Ind)  1991-2003  315  229  11935   8847  5/23       3
13        DL Vettori (NZ)  1997-2015  305  295  14060   9674   5/7       2
14         SK Warne (Aus)  1993-2005  293  194  10642   7541  5/33       1
15  Saqlain Mushtaq (Pak)  1995-2003  288  169   8770   6275  5/20       6
16       AB Agarkar (Ind)  1998-2007  288  191   9484   8021  6/42       2
17           Z Khan (Ind)  2000-2012  282  200  10097   8301  5/42       1
18         JH Kallis (SA)  1996-2014  273  328  10750   8680  5/30       2
19         AA Donald (SA)  1991-2003  272  164   8561   5926  6/23       2
20        M Mortaza (Ban)  2001-2020  270  220  10922   8893  6/26       1
21      JM Anderson (Eng)  2002-2015  269  194   9584   7861  5/23       2
22     Abdul Razzaq (Pak)  1996-2011  269  265  10941   8564  6/35       3
23  Harbhajan Singh (Ind)  1998-2015  269  236  12479   8973  5/31       3
24           M Ntini (SA)  1998-2009  266  173   8687   6559  6/22       4
25      N Kapil Dev (Ind)  1978-1994  253  225  11202   6945  5/43       1

 Data of : ODI_most_WK_dismissals

                   Player       Span  Mat  Dis   Ct   St  Max
0      KC Sangakkara (SL)  2000-2015  404  482  383   99    5
1      AC Gilchrist (Aus)  1996-2008  287  472  417   55    6
2          MS Dhoni (Ind)  2004-2019  350  444  321  123    6
3         MV Boucher (SA)  1998-2011  295  424  402   22    6
4         Moin Khan (Pak)  1990-2004  219  287  214   73    5
5           M Rahim (Ban)  2006-2023  255  275  220   55    5
6        JC Buttler (Eng)  2012-2023  169  246  211   35    6
7        BB McCullum (NZ)  2002-2016  260  242  227   15    5
8          IA Healy (Aus)  1988-1997  168  233  194   39    4
9       Rasid Latif (Pak)  1992-2003  166  220  182   38    5
10  RS Kaluwitharana (SL)  1990-2004  189  206  131   75    5
11         Q de Kock (SA)  2013-2023  144  205  189   16    6
12         PJL Dujon (WI)  1981-1991  169  204  183   21    4

 Data of : ODI_results_summary

    Team       Span   Mat    W    L  Tied  NR      %
0    Ind  1974-2023  1037  544  440     9  44  55.23
1    Aus  1971-2023   982  596  343     9  34  63.34
2    Pak  1973-2023   961  508  423     8  21  54.52
3     SL  1975-2023   899  413  442     5  39  48.31
4     WI  1973-2023   867  418  408    10  30  50.59
5     NZ  1973-2023   808  370  389     7  42  48.75
6    Eng  1971-2023   783  395  349     9  30  53.05
7     SA  1991-2023   658  401  230     6  21  63.42
8    Zim  1983-2023   566  151  394     7  13  28.02
9    Ban  1986-2023   420  154  257     0   9  37.46
10   Ire  2006-2023   194   78  100     3  13  43.92
11   Ken  1996-2014   154   42  107     0   5  28.18
12  Scot  1999-2023   153   68   77     1   7  46.91
13  Afgh  2009-2023   152   73   74     1   4  48.68
14  Neth  1996-2023   114   39   69     1   4  36.36
15   Can  1979-2023    82   20   60     0   2  25.00

In [65]:
# Get the specific DataFrame, as we are going to add full name as a column
df_odi_team = df_odi['ODI_results_summary']

# Define the team code to full name mapping
team_name_map = {
    'Eng': 'England',
    'Aus': 'Australia',
    'Ind': 'India',
    'Pak': 'Pakistan',
    'WI': 'West Indies',
    'NZ': 'New Zealand',
    'SL': 'Sri Lanka',
    'SA': 'South Africa',
    'Zim': 'Zimbabwe',
    'Ban': 'Bangladesh',
    'Ire': 'Ireland',
    'Afgh': 'Afghanistan',
    'Scot': 'Scotland',
    'Ken': 'Kenya',
    'Neth': 'Netherlands'
}
# Add a new column for the full team name
df_odi_team['Team_full'] = df_odi_team['Team'].map(team_name_map)

#save back to the main directory
df_odi['ODI_results_summary'] = df_odi_team

#previe updayed data frame
df_odi['ODI_results_summary']

    Team       Span   Mat    W    L  Tied  NR      %     Team_full
0    Ind  1974-2023  1037  544  440     9  44  55.23         India
1    Aus  1971-2023   982  596  343     9  34  63.34     Australia
2    Pak  1973-2023   961  508  423     8  21  54.52      Pakistan
3     SL  1975-2023   899  413  442     5  39  48.31     Sri Lanka
4     WI  1973-2023   867  418  408    10  30  50.59   West Indies
5     NZ  1973-2023   808  370  389     7  42  48.75   New Zealand
6    Eng  1971-2023   783  395  349     9  30  53.05       England
7     SA  1991-2023   658  401  230     6  21  63.42  South Africa
8    Zim  1983-2023   566  151  394     7  13  28.02      Zimbabwe
9    Ban  1986-2023   420  154  257     0   9  37.46    Bangladesh
10   Ire  2006-2023   194   78  100     3  13  43.92       Ireland
11   Ken  1996-2014   154   42  107     0   5  28.18         Kenya
12  Scot  1999-2023   153   68   77     1   7  46.91      Scotland
13  Afgh  2009-2023   152   73   74     1   4  48.68   Afghanistan
14  Neth  1996-2023   114   39   69     1   4  36.36   Netherlands
15   Can  1979-2023    82   20   60     0   2  25.00           NaN

In [69]:
# Define the output Excel file path
output_excel_file_for_odi = r'D:\Data\Projects\Cricket data\Cricket-Analysis\Dataset\odi stats\odi_stats.xlsx'

# Create a Pandas Excel writer using openpyxl engine
with pd.ExcelWriter(output_excel_file_for_odi, engine='openpyxl') as writer:
    for sheetname, df in df_odi.items():
        clean_sheet_name_odi = sheetname[:31].replace('/','_')
        df.to_excel(writer, sheet_name= clean_sheet_name_odi, index=False)
print(f"âœ… Excel file created: {output_excel_file_for_odi}")

âœ… Excel file created: D:\Data\Projects\Cricket data\Cricket-Analysis\Dataset\odi stats\odi_stats.xlsx

# T20 Stats

In [70]:
base_path3 = r'D:\Data\Projects\Cricket data\Cricket-Analysis\Dataset\t20 stats'

In [72]:
# get lit of all .csv files
csv_files_t20 = [file for file in os.listdir(base_path3) if file.endswith('.csv')]
csv_files_t20

['T20_most_catches.csv',
 'T20_most_matches_as_captain.csv',
 'T20_most_player_of_the_matches.csv',
 'T20_most_player_of_the_series.csv',
 'T20_most_runs.csv',
 'T20_most_wickets.csv',
 'T20_most_WK_dismissals.csv',
 'T20_results_summary.csv']

In [73]:
# Dictinary to hold dataframe
df_t20 = {}

#Read each csv to data frmae
for file in csv_files_t20:
    file_path_t20 = os.path.join(base_path3, file)
    key = file.replace('.csv','')
    df_t20[key] = pd.read_csv(file_path_t20)
list(df_t20.keys())

['T20_most_catches',
 'T20_most_matches_as_captain',
 'T20_most_player_of_the_matches',
 'T20_most_player_of_the_series',
 'T20_most_runs',
 'T20_most_wickets',
 'T20_most_WK_dismissals',
 'T20_results_summary']

In [77]:
for key in df_t20:
    print(f"\ntable : {key}")
    display(df_t20[key])

table : T20_most_catches

                 Player     Span    Mat   Inns  Catches  Max
0        DA Miller (SA)  2010-23  116.0  115.0     77.0  4.0
1       MJ Guptill (NZ)  2009-22  122.0  121.0     68.0  3.0
2      Tim Southee (NZ)  2008-24  120.0  118.0     62.0  2.0
3     GH Dockwell (Ire)  2010-23  125.0  122.0     61.0  3.0
4       RG Sharma (Ind)  2007-24  150.0  150.0     60.0  3.0
5       Mhd Nabi (Afgh)  2010-24  114.0  114.0     59.0  3.0
6       DA Warner (Aus)  2009-22   99.0   99.0     56.0  3.0
7     Virat Kohli (Ind)  2010-24  116.0  115.0     51.0  3.0
8        AJ Finch (Aus)  2011-22  103.0  102.0     50.0  3.0
9    Shoaib Malik (Pak)  2006-22  124.0  124.0     50.0  3.0
10     LRPL Taylor (NZ)  2006-20  102.0  102.0     46.0  3.0
11     EJG Morgan (Eng)  2009-22  115.0  114.0     46.0  3.0
12    Mahmudullah (Ban)  2007-22  121.0  118.0     46.0  3.0
13  Hardik Pandya (Ind)  2016-23   92.0   91.0     45.0  2.0
14  AB de Villiers (SA)  2006-17   78.0   52.0     44.0  3.0
15        DJ Bravo (WI)  2006-21   91.0   88.0     44.0  3.0
16    KS Willimson (NZ)  2011-24   89.0   88.0     44.0  3.0
17      CJ Jordan (Eng)  2014-23   88.0   87.0     43.0  3.0
18      N Zadran (Afgh)  2012-24   99.0   99.0     43.0  2.0
19     Babar Azam (Pak)  2016-24  107.0  107.0     43.0  2.0
20       SK Raina (Ind)  2006-18   78.0   78.0     42.0  3.0
21  Fakhar Zaman ((Pak)  2017-24   79.0   79.0     42.0  3.0
22      KA Pollard (WI)  2008-22  101.0   97.0     42.0  2.0
23     RR Patel (Kenya)  2008-23   64.0   64.0     41.0  3.0
24     GJ Maxwell (Aus)  2012-23  100.0   99.0     41.0  2.0

table : T20_most_matches_as_captain

                   Player     Span   Mat     W     L  Ties   NR      %
0          AJ Finch (Aus)  2014-22  76.0  40.0  32.0   1.0  3.0  55.47
1          MS Dhoni (Ind)  2007-16  72.0  41.0  28.0   1.0  2.0  59.28
2        EJG Morgan (Eng)  2012-22  72.0  42.0  27.0   2.0  1.0  60.56
3        Babar Azam (Pak)  2019-23  71.0  42.0  23.0   0.0  6.0  64.61
4       KS Willimson (NZ)  2012-24  71.0  37.0  32.0   1.0  1.0  52.11
5        Ahmed Faiz (MAL)  2019-23  62.0  36.0  23.0   1.0  2.0  60.83
6       C Rubagumya (RWN)  2021-23  60.0  14.0  44.0   0.0  2.0  23.33
7   WTS Porterfield (Ire)  2008-17  56.0  26.0  26.0   0.0  4.0  50.00
8          B Masaba (UGA)  2021-23  54.0  42.0   9.0   0.0  3.0  77.77
9      Rohit Sharma (Ind)  2017-24  53.0  41.0  12.0   0.0  0.0  77.35
10     A Stanikzai (Afgh)  2015-21  52.0  42.0   9.0   1.0  0.0  81.73
11     A Balbirinie (Ire)  2020-23  52.0  19.0  31.0   1.0  1.0  38.23
12       MG Erasmus (NAM)  2019-23  51.0  35.0  16.0   0.0  0.0  68.62
13      Virat Kohli (Ind)  2017-22  50.0  30.0  16.0   2.0  2.0  64.58
14        MD Shanaka (SL)  2019-23  48.0  22.0  24.0   0.0  0.0  47.91
15           A Vala (PNG)  2016-23  48.0  29.0  18.0   0.0  1.0  61.70
16         AR Patwa (TAN)  2021-23  48.0  30.0  15.0   0.0  0.0  63.82
17         DJG Sammy (WI)  2011-16  47.0  27.0  17.0   1.0  2.0  61.11
18    Shahid Afridi (Pak)  2009-18  44.0  19.0  24.0   1.0  0.0  44.31
19        V Ganesan (GER)  2019-23  43.0  25.0  18.0   0.0  0.0  58.13
20      Mahmudullah (Ban)  2018-22  43.0  16.0  26.0   0.0  0.0  38.09
21      KJ Coetzer (Scot)  2012-21  41.0  20.0  20.0   1.0  0.0  50.00
22      F du Plessis (SA)  2012-19  40.0  24.0  15.0   1.0  0.0  61.25
23         P Mishra (Bul)  2019-22  39.0  12.0  25.0   0.0  2.0  32.43
24        KA Pollard (WI)  2019-22  39.0  13.0  21.0   0.0  5.0  38.21
25  Shakib Al Hasan (Ban)  2009-23  39.0  16.0  23.0   0.0  0.0  41.02
26        CR Ervine (Zim)  2021-23  38.0  20.0  17.0   0.0  0.0  54.05
27   Razmal Shigwal (Aut)  2019-23  38.0  20.0  16.0   0.0  0.0  55.55
28       R Sateesan (ROM)  2019-23  38.0  25.0  13.0   0.0  0.0  65.78
29      PM Seelaar (Neth)  2018-21  38.0  17.0  18.0   2.0  1.0  48.64

table : T20_most_player_of_the_matches

              Player  Team  Awards    Mat     Span
0   Suryakumar Yadav   Ind    16.0   70.0  2021-24
1        Virat Kohli   Ind    16.0  125.0  2010-24
2      Sikandar Raza   Zim    15.0   91.0  2013-24
3    Virendeep Singh   Mal    14.0   78.0  2019-24
4           Mhd Nabi  Afgh    14.0  123.0  2010-24
5          RG Sharma   Ind    14.0  159.0  2007-24
6         Mhd Rizwan   Pak    12.0  101.0  2015-24
7          DA Warner   Aus    12.0  106.0  2009-24
8    Shakib Al-Hasan   Ban    12.0  125.0  2006-24
9         DM Nakrani   UGA    11.0   59.0  2019-24
10       Shadab Khan   Pak    11.0   92.0  2017-23
11     Shahid Afridi   Pak    11.0   99.0  2006-18
12        Mhd Hafeez   Pak    11.0  119.0  2006-21
13          CH Gayle    WI    10.0   79.0  2006-21
14        MJ Guptill    NZ    10.0  122.0  2009-22
15         SR Watson   Aus     9.0   58.0  2006-16
16       Mhd Shahzad  Afgh     9.0   73.0  2010-23
17         Moeen Ali   Eng     9.0   82.0  2014-23
18        Babar Azam   Pak     9.0  107.0  2016-24
19       PR Stirling   Ire     9.0  134.0  2009-23
20       Sami Sohail   MWI     8.0   31.0  2019-23
21        AR Ramjani   UGA     8.0   35.0  2022-23
22       Sarfraz Ali   BHR     8.0   39.0  2019-22
23          DJ Malan   Eng     8.0   62.0  2017-23
24       GD Phillips    NZ     8.0   69.0  2017-23
25       H Ssenyondo   UGA     8.0   73.0  2019-23
26     Glenn Maxwell   Aus     8.0  100.0  2012-23
27       Jos Buttler   Eng     8.0  114.0  2011-23
28          AJ Finch   Aus     8.0  103.0  2011-22
29      David Miller    SA     8.0  116.0  2010-23
30        EJG Morgan   Eng     8.0  115.0  2009-22

table : T20_most_player_of_the_series

                   Player     Span  Mat  Awards
0       Virat Kohli (Ind)  2008-24  125       7
1   Suryakmar Yadav (Ind)  2021-24   70       5
2        Babar Azam (Pak)  2015-24  123       5
3         DA Warner (Aus)  2009-24  110       5
4   Shakib Al-Hasan (Ban)  2006-23  129       5
5       PWH de Silva (SL)  2019-24   70       4
6        Mhd Rizwan (Pak)  2015-24  102       4
7        GJ Maxwell (Aus)  2012-24  113       4
8   Mohammad Hafeez (Pak)  2006-21  119       4
9         TL Seifert (NZ)  2018-24   61       3
10       GD Phillips (NZ)  2017-23   63       3
11      RR Hendricks (SA)  2014-23   56       3
12         Q de Kock (SA)  2012-23   80       3
13          B Kumar (Ind)  2012-22   87       3
14        Mhd Nabi (Afgh)  2010-24  114       3
15         DA Miller (SA)  2010-23  116       3
16     Shoaib Malik (Pak)  2006-21  124       3
17    Shahid Afridi (Pak)  2006-18   99       3
18        TM Dilshan (SL)  2006-16   80       2
19        SR Watson (Aus)  2006-16   58       2
20     KP Pietersen (Eng)  2006-14   37       2
21          CH Gayle (WI)  2006-19   58       2

table : T20_most_runs

                    Player     Span    Runs    Mat    HS  100    50
0          RG Sharma (Ind)  2007-24  4231.0  159.0  121*  5.0  32.0
1        Virat Kohli (Ind)  2010-24  4188.0  125.0  122*  1.0  38.0
2         Babar Azam (Pak)  2016-24  4145.0  123.0   122  3.0  36.0
3        PR Stirling (Ire)  2009-24  3655.0  147.0  115*  1.0  24.0
4          MJ Guptill (NZ)  2009-22  3531.0  122.0   105  2.0  20.0
5         Mhd Rizwan (Pak)  2015-24  3313.0  102.0  104*  1.0  29.0
6          DA Warner (Aus)  2009-24  3277.0  110.0  100*  1.0  28.0
7         JC Buttler (Eng)  2011-24  3264.0  124.0  101*  1.0  24.0
8           AJ Finch (Aus)  2011-22  3120.0  103.0   172  2.0  19.0
9         GJ Maxwell (Aus)  2012-24  2600.0  113.0  145*  5.0  11.0
10          Q de Kock (SA)  2012-24  2584.0   92.0   100  1.0  16.0
11       KS Willimson (NZ)  2011-24  2575.0   93.0    95  0.0  18.0
12   Shakib Al-Hasan (Ban)  2006-24  2551.0  128.0    84  0.0  13.0
13  Suryakumar Yadav (Ind)  2021-24  2536.0   74.0   117  4.0  21.0
14        Mhd Hafeez (Pak)  2006-21  2514.0  119.0   99*  0.0  14.0
15        EJG Morgan (Eng)  2009-21  2458.0  115.0    91  0.0  14.0
16       Mahmudullah (Ban)  2007-24  2444.0  141.0   64*  0.0   8.0
17   Virendeep Singh (MAL)  2019-24  2441.0   84.0  116*  1.0  16.0
18          DA Miller (SA)  2010-24  2437.0  125.0  106*  2.0   7.0
19      Shoaib Malik (Pak)  2006-21  2435.0  122.0    75  0.0   9.0
20       A Balbirnie (Ire)  2015-24  2392.0  109.0    83  0.0  12.0
21          KL Rahul (Ind)  2016-24  2265.0   72.0  110*  2.0  22.0
22    RD Berrington (Scot)  2008-24  2230.0   97.0   100  1.0  10.0
23     Sikandar Raza (Zim)  2013-24  2209.0   95.0  133*  1.0  14.0
24        BB McCullum (NZ)  2005-15  2140.0   71.0   123  2.0  13.0
25    Mohammad Nabi (Afgh)  2010-24  2123.0  123.0    89  0.0   6.0
26         S Ssesazi (UGA)  2021-24  2081.0   81.0  100*  1.0  16.0
27          AD Hales (Eng)  2011-22  2074.0   75.0  116*  1.0  12.0
28      Mhd Shahzad (Afgh)  2010-23  2048.0   73.0  118*  1.0  12.0

table : T20_most_wickets

                   Player     Span    Wkt    Mat   Ovrs   Mdn    Runs   BBI
0         TG Southee (NZ)  2008-24  155.0  120.0  434.5   5.0  3528.0  5/18
1   Shakib Al Hasan (Ban)  2006-23  140.0  117.0  422.3   3.0  2869.0  5/20
2      Rashid Khan (Afgh)  2015-23  130.0   82.0  312.2   1.0  1925.0   5/3
3           IS Sodhi (NZ)  2014-24  130.0  108.0  370.1   0.0  2962.0  4/28
4         SL Malinga (SL)  2006-20  107.0   84.0  299.5   1.0  2225.0   5/6
5         AU Rashid (Eng)  2007-23  107.0  104.0  365.2   4.0  2698.0   4/2
6         MJ Santner (NZ)  2015-24  106.0   95.0  327.2   2.0  2311.0  4/11
7          M Rahman (Ban)  2015-23  105.0   88.0  311.4   6.0  2338.0  5/22
8       Shadab Khan (Pak)  2017-23  104.0   92.0  325.1   3.0  2301.0   4/8
9          MR Adair (Ire)  2019-23  105.0   74.0  261.5   2.0  2011.0  4/13
10   S Lamichhane (Nepal)  2018-23   98.0   52.0  195.5   5.0  1233.0   5/9
11    Shahid Afridi (Pak)  2006-17   98.0   99.0  361.2   4.0  2396.0  4/11
12      SO Ngoche (Kenya)  2010-23   96.0   81.0  273.4  12.0  1641.0  4/14
13        YS Chahal (Ind)  2016-23   96.0   80.0  294.0   2.0  2409.0  6/25
14        CJ Jordan (Eng)  2014-23   96.0   88.0  304.4   2.0  2658.0   4/6
15      PWH de Silva (SL)  2019-24   94.0   60.0  216.4   1.0  1498.0   4/9
16      Bilal Khan (Oman)  2015-23   92.0   64.0  230.1   7.0  1489.0  4/19
17      H Ssenyondo (UGA)  2019-23   90.0   73.0  243.4   8.0  1298.0   4/4
18       Haris Rauf (Pak)  2020-24   90.0   65.0  236.0   1.0  1934.0  4/18
19          B Kumar (Ind)  2012-22   90.0   87.0  298.3  10.0  2079.0   5/4
20   Mohammed Nabi (Afgh)  2010-24   88.0  114.0  341.4   5.0  2517.0  4/10
21         Umar Gul (Pak)  2007-16   85.0   60.0  200.3   2.0  1443.0   5/6
22      Saeed Ajmal (Pak)  2009-15   85.0   64.0  238.2   2.0  1516.0  4/19
23      GH Dockrell (Ire)  2010-23   83.0  128.0  261.2   1.0  1878.0  4/20
24       Adam Zampa (Aus)  2616-23   82.0   74.0  264.5   1.0  1856.0  5/19

table : T20_most_WK_dismissals

                   Player     Span    Mat   Dis   Cat  Stmps  Max
0          Q de Kock (SA)  2012-23   80.0  92.0  76.0   16.0  4.0
1          MS Dhoni (Ind)  2006-19   98.0  91.0  57.0   34.0  5.0
2         IA Kaim (Kenya)  2013-23   58.0  83.0  59.0   24.0  5.0
3        JC Buttler (Eng)  2011-23  114.0  71.0  60.0   11.0  3.0
4           D Ramdin (WI)  2006-19   71.0  63.0  43.0   20.0  4.0
5   Mushfiqur Rahim (Ban)  2006-22  102.0  62.0  32.0   30.0  3.0
6      Mhd Shahzad (Afgh)  2010-23   73.0  61.0  33.0   28.0  5.0
7      Kamran Akmal (Pak)  2006-17   58.0  60.0  28.0   32.0  4.0
8           MS Wade (Aus)  2011-23   80.0  56.0  50.0    6.0  3.0
9         MH Cross (Scot)  2013-23   65.0  55.0  40.0   15.0  4.0
10       Mhd Rizwan (Pak)  2015-24   88.0  52.0  41.0   11.0  3.0
11  D Nidikubwimana (RWN)  2021-23   58.0  49.0  41.0    8.0  4.0
12       SA Edward (Neth)  2018-22   51.0  47.0  41.0    6.0  3.0
13    Sarfraz Ahmed (Pak)  2010-21   60.0  46.0  36.0   10.0  3.0
14     KC Sangakkara (SL)  2006-14   56.0  45.0  25.0   20.0  3.0
15        LJ Truker (Ire)  2016-23   62.0  43.0  38.0    5.0  3.0
16          N Pooran (WI)  2016-23   85.0  43.0  36.0    7.0  3.0
17         ZE Green (Nam)  2019-23   46.0  39.0  33.0    6.0  4.0
18        TL Seifert (NZ)  2018-23   54.0  37.0  30.0    7.0  3.0
19        CN Kakuru (UGA)  2022-23   37.0  36.0  19.0   17.0  4.0
20        GC Wilson (Ire)  2008-20   81.0  36.0  29.0    7.0  4.0
21     Rishabh Pant (Ind)  2017-22   66.0  34.0  25.0    9.0  2.0
22      Awais Ahmed (ESP)  2019-23   28.0  32.0  21.0   11.0  4.0
23       BB McCullum (NZ)  2005-15   71.0  32.0  24.0    8.0  3.0

table : T20_results_summary

    Team     Span  Mat    W   L  NR      %
0    Pak  2006-24  229  135  85   1  61.21
1    Ind  2006-24  218  140  68   6  66.98
2     NZ  2005-24  206  106  84   6  55.50
3     WI  2006-24  189   79  97  10  44.97
4     SL  2006-24  182   80  96   2  45.55
5    Aus  2005-24  182   95  80   4  54.21
6    Eng  2005-24  182   84  80   6  53.97
7     SA  2005-24  173   96  73   3  56.76
8    Ban  2006-24  158   59  95   4  38.31
9    Ire  2008-24  157   66  82   7  44.66
10   Zim  2006-23  139   46  90   1  34.05
11  Afgh  2010-24  123   86  45   1  62.70
12  Neth  2008-24   98   49  44   3  52.63
13  Scot  2007-24   89   41  44   3  48.25

In [78]:
for key in df_t20:
    df_t20[key].dropna(how="any", inplace=True)

In [79]:
df_t20_team = df_t20['T20_results_summary']

team_name_map = {
    'Eng': 'England',
    'Aus': 'Australia',
    'Ind': 'India',
    'Pak': 'Pakistan',
    'WI': 'West Indies',
    'NZ': 'New Zealand',
    'SL': 'Sri Lanka',
    'SA': 'South Africa',
    'Zim': 'Zimbabwe',
    'Ban': 'Bangladesh',
    'Ire': 'Ireland',
    'Afgh': 'Afghanistan',
    'Scot': 'Scotland',
    'Ken': 'Kenya',
    'Neth': 'Netherlands'
}

df_t20_team['Team_full'] = df_t20_team['Team'].map(team_name_map)
df_t20['T20_results_summary'] = df_t20_team

df_t20['T20_results_summary']

    Team     Span  Mat    W   L  NR      %     Team_full
0    Pak  2006-24  229  135  85   1  61.21      Pakistan
1    Ind  2006-24  218  140  68   6  66.98         India
2     NZ  2005-24  206  106  84   6  55.50   New Zealand
3     WI  2006-24  189   79  97  10  44.97   West Indies
4     SL  2006-24  182   80  96   2  45.55     Sri Lanka
5    Aus  2005-24  182   95  80   4  54.21     Australia
6    Eng  2005-24  182   84  80   6  53.97       England
7     SA  2005-24  173   96  73   3  56.76  South Africa
8    Ban  2006-24  158   59  95   4  38.31    Bangladesh
9    Ire  2008-24  157   66  82   7  44.66       Ireland
10   Zim  2006-23  139   46  90   1  34.05      Zimbabwe
11  Afgh  2010-24  123   86  45   1  62.70   Afghanistan
12  Neth  2008-24   98   49  44   3  52.63   Netherlands
13  Scot  2007-24   89   41  44   3  48.25      Scotland

In [81]:
output_excel_file_for_t20 = r'D:\Data\Projects\Cricket data\Cricket-Analysis\Dataset\t20 stats\t20_stats.xlsx'

with pd.ExcelWriter(output_excel_file_for_t20, engine='openpyxl') as writer:
    for sheetname, df in df_t20.items():
        clean_sheet_name_t20 = sheetname[:31].replace('/','_')
        df.to_excel(writer, sheet_name=clean_sheet_name_t20, index=False)
print(f"âœ… Excel file created: {output_excel_file_for_t20}")

âœ… Excel file created: D:\Data\Projects\Cricket data\Cricket-Analysis\Dataset\t20 stats\t20_stats.xlsx

# Test Stats

In [85]:
base_path4 = r'D:\Data\Projects\Cricket data\Cricket-Analysis\Dataset\test stats'

In [86]:
csv_file_test = [file for file in os.listdir(base_path4) if file.endswith('.csv')]
csv_file_test

['Test_most_catches.csv',
 'Test_most_matches_as_captain.csv',
 'Test_most_player_of_the_matches.csv',
 'Test_most_player_of_the_series.csv',
 'Test_most_runs.csv',
 'Test_most_wickets.csv',
 'Test_most_WK_dismissals.csv',
 'Test_results_summary.csv']

In [88]:
df_test ={}

for file in csv_file_test:
    file_path_test = os.path.join(base_path4, file)
    key = file.replace('.csv', '')
    df_test[key] = pd.read_csv(file_path_test)
list(df_test.keys())

['Test_most_catches',
 'Test_most_matches_as_captain',
 'Test_most_player_of_the_matches',
 'Test_most_player_of_the_series',
 'Test_most_runs',
 'Test_most_wickets',
 'Test_most_WK_dismissals',
 'Test_results_summary']

In [91]:
for key in df_test:
    print(f"\nTable name: {key}")
    display(df_test[key])

Table name: Test_most_catches

                   Player       Span  Mat  Inns   Ct  Max
0      Rahul Dravid (Ind)  1996-2012  164   301  210    3
1   DPMD Jayawardene (SL)  1997-2014  149   270  205    4
2          JH Kallis (SA)  1995-2013  166   315  200    4
3        RT Ponting (Aus)  1995-2012  168   328  196    3
4          ME Waugh (Aus)  1991-2002  128   245  181    4
5         SP Fleming (NZ)  1994-2008  111   199  171    5
6           GC Smith (SA)  2002-2014  117   225  169    5
7            BC Lara (WI)  1990-2006  131   241  164    4
8         MA Taylor (Aus)  1989-1999  104   197  157    4
9         AR Border (Aus)  1978-1994  156   277  156    4
10          AN Cook (Eng)  2006-2017  148   275  153    3
11      Younis Khan (Pak)  2000-2017  118   221  139    4
12       VVS Laxman (Ind)  1996-2012  134   248  135    4
13        MJ Clarke (Aus)  2004-2015  115   223  134    3
14        ML Hayden (Aus)  1994-2009  103   205  128    4
15         SK Warne (Aus)  1992-2007  145   281  125    3
16       LRPL Taylor (NZ)  2007-2017   81   152  123    3
17      GS Chappell (Aus)  1970-1984   87   165  122    4
18      IVA Richards (WI)  1974-1991  121   232  122    4
19       AJ Strauss (Eng)  2004-2012  100   189  121    3
20        IT Botham (Eng)  1977-1992  102   179  120    3
21       MC Cowdrey (Eng)  1954-1975  114   214  120    3

Table name: Test_most_matches_as_captain

               Player       Span  Mat   W   L  Ties  Draw   W/L     %W
0       GC Smith (SA)  2003-2014  109  53  29     0    27  1.82  48.62
1     AR Border (Aus)  1984-1994   93  32  22     1    38  1.45  34.40
2     SP Fleming (NZ)  1997-2006   80  28  27     0    25  1.03  35.00
3    RT Ponting (Aus)  2004-2010   77  48  16     0    13  3.00  62.33
4       CH Lloyd (WI)  1974-1985   74  36  12     0    26  3.00  48.64
5      MS Dhoni (Ind)  2008-2014   60  27  18     0    15  1.50  45.00
6       AN Cook (Eng)  2010-2017   59  24  22     0    13  1.09  40.67
7      SR Waugh (Aus)  1999-2004   57  41   9     0     7  4.55  71.92
8    A Ranatunga (SL)  1989-1999   56  12  19     0    25  0.63  21.42
9   MA Atherton (Eng)  1993-2001   54  13  21     0    20  0.61  24.07
10     WJ Cronje (SA)  1994-2000   53  27  11     0    15  2.45  50.94
11   MP Vaughan (Eng)  2003-2008   51  26  11     0    14  2.36  50.98
12  IVA Richards (WI)  1980-1991   50  27   8     0    15  3.37  54.00
13   AJ Strauss (Eng)  2006-2012   50  24  11     0    15  2.18  48.00
14    MA Taylor (Aus)  1994-1999   50  26  13     0    11  2.00  52.00

Table name: Test_most_player_of_the_matches

                   Player       Span  Mat  Awards
0          JH Kallis (SA)  1995-2013  166      23
1     M Muralitharan (SL)  1992-2010  133      19
2       Wasim Akram (Pak)  1985-2002  104      17
3          SK Warne (Aus)  1992-2007  145      17
4      KC Sangakkara (SL)  2000-2015  134      16
5        RT Ponting (Aus)  1995-2012  168      16
6        CEL Ambrose (WI)  1988-2000   98      14
7          SR Waugh (Aus)  1985-2004  168      14
8      SR Tendulkar (Ind)  1989-2013  200      14
9   DPMD Jayawardene (SL)  1997-2014  149      13
10        IT Botham (Eng)  1977-1992  102      12
11          GC Smith (SA)  2002-2014  117      12
12           BC Lara (WI)  1990-2006  131      12

Table name: Test_most_player_of_the_series

                 Player       Span  Mat  Series  Awards
0   M Muralitharan (SL)  1992-2010  133      61      11
1        R Ashwin (Ind)  2011-2022   93      37      10
2        JH Kallis (SA)  1995-2013  166      61       9
3      Imran Khan (Pak)  1971-1992   88      28       8
4    Sir RJ Hadlee (NZ)  1973-1990   86      33       8
5        SK Warne (Aus)  1992-2007  145      46       8
6     Wasim Akram (Pak)  1985-2002  104      43       7
7    S Chanderpaul (WI)  1994-2015  164      60       7
8      MD Marshall (WI)  1978-1991   81      21       6
9      CEL Ambrose (WI)  1988-2000   98      27       6
10       SR Waugh (Aus)  1985-2004  168      54       6

Table name: Test_most_runs

                   Player       Span     Runs    Mat    HS   100    50
0      SR Tendulkar (Ind)  1989-2013  15921.0  200.0  248*  51.0  68.0
1        RT Ponting (Aus)  1995-2012  13378.0  168.0   257  41.0  62.0
2          JH Kallis (SA)  1995-2013  13289.0  166.0   224  45.0  58.0
3      Rahul Dravid (Ind)  1996-2012  13288.0  164.0   270  36.0  63.0
4          Joe Root (Eng)  2012-2025  13219.0  156.0   262  37.0  66.0
5           AN Cook (Eng)  2006-2018  12472.0  161.0   294  33.0  57.0
6      KC Sangakkara (SL)  2000-2015  12400.0  134.0   319  38.0  52.0
7            BC Lara (WI)  1990-2006  11953.0  131.0  400*  34.0  48.0
8      S Chanderpaul (WI)  1994-2015  11867.0  164.0  203*  30.0  66.0
9   DPMD Jayawardene (SL)  1997-2014  11814.0  149.0   374  34.0  50.0
10        AR Border (Aus)  1978-1994  11174.0  156.0   205  27.0  63.0
11         SR Waugh (Aus)  1985-2004  10927.0  168.0   200  32.0  50.0
12        SPD Smith (Aus)  2010-2025  10424.0  118.0   239  36.0  43.0
13      SM Gavaskar (Ind)  1971-1987  10122.0  125.0  236*  34.0  45.0
14      Younis Khan (Pak)  2000-2017  10099.0  118.0   313  34.0  33.0
15           HM Amla (SA)  2004-2019   9282.0  124.0  311*  28.0  41.0
16          GC Smith (SA)  2002-2014   9265.0  117.0   277  27.0  38.0
17      Virat Kohli (Ind)  2011-2025   9230.0  123.0  254*  30.0  31.0

Table name: Test_most_wickets

                   Player       Span  Wkt  Mat  Balls   Runs    BBI  5w
0     M Muralitharan (SL)  1992-2010  800  133  44039  18180   9/51  67
1          SK Warne (Aus)  1992-2007  708  145  40705  17995   8/71  37
2       JM Anderson (Eng)  2003-2024  700  187  39877  18569   7/42  32
3       Anil Kumble (Ind)  1990-2008  619  132  40850  18355  10/74  35
4         SCJ Broad (Eng)  2007-2023  576  161  32404  15981   8/15  19
5        GD McGrath (Aus)  1993-2007  563  124  29248  12186   8/24  29
6          R Ashwin (Ind)  2011-2024  526  102  26490  12431   7/59  37
7           CA Walsh (WI)  1984-2001  519  132  30019  12688   7/37  22
8       Nathan Lyon (Aus)  2011-2024  517  127  32440  15889   8/50  23
9           DW Steyn (SA)  2004-2019  439   93  18608  10077   7/51  26
10        Kapil Dev (Ind)  1978-1994  434  131  27740  12867   9/83  23
11      HMKRB Herath (SL)  1999-2018  433   93  25993  12157  9/127  34
12         RJ Hadlee (NZ)  1973-1990  431   86  21918   9611   9/52  36
13        SM Pollock (SA)  1995-2008  421  108  24353   9733   7/87  16
14  Harbhajan Singh (Ind)  1998-2015  417  103  28580  13537   8/84  25
15      Wasim Akram (Pak)  1985-2002  414  104  22627   9779  7/119  25
16       CEL Ambrose (WI)  1988-2000  405   98  22103   8501   8/45  22

Table name: Test_most_WK_dismissals

                Player       Span  Mat  Dis   Ct  St  Max
0      MV Boucher (SA)  1992-2012  147  555  532  23    6
1   AC Gilchrist (Aus)  1999-2008   96  416  379  37    5
2       IA Healy (Aus)  1988-1999  119  395  366  29    6
3       RW MArsh (Aus)  1970-1984   96  355  343  12    6
4       MS Dhoni (Ind)  2005-2014   90  294  256  38    6
5      BJ Haddin (Aus)  2008-2015   66  270  262   8    6
6       PJL Dujon (WI)  1981-1991   81  270  265   5    5
7      APE Knott (Eng)  1967-1981   95  269  250  19    5
8       MJ Prior (Eng)  2007-2014   79  256  243  13    6
9     AJ Stewart (Eng)  1990-2003  133  241  227  14    6
10    Wasim Bari (Pak)  1967-1984   81  228  201  27    7
11      RD Jacobs (WI)  1998-2004   65  219  207  12    7
12      TG Evans (Eng)  1946-1959   91  219  173  46    4
13       D Ramdin (WI)  2005-2016   74  217  205  12    5
14  Kamran Akmal (Pak)  2002-2010   53  206  184  22    5
15      AC Parore (NZ)  1990-2002   78  201  194   7    5

Table name: Test_results_summary

  Team       Span  Mat    W    L  Tied  Draw   W/L     %W
0  Eng  1877-2017  991  356  291     0   343  1.22  35.92
1  Aus  1877-2017  804  378  216     2   207  1.75  47.01
2   WI  1928-2017  528  168  185     1   174  0.90  31.81
3  Ind  1932-2017  516  142  158     1   215  0.89  27.51
4   NZ  1930-2017  422   89  170     0   163  0.52  21.09
5   SA  1889-2017  417  155  138     0   124  1.12  37.17
6  Pak  1952-2017  412  132  122     0   158  1.08  32.03
7   SL  1982-2017  265   84   99     0    82  0.84  31.69
8  Zim  1992-2017  104   11   66     0    27  0.16  10.57
9  Ban  2000-2017  104   10   79     0    15  0.12   9.61

In [90]:
for key in df_test:
    df_test[key].dropna(how='any', inplace=True)

In [92]:
df_test_team = df_test['Test_results_summary']

team_name_map = {
    'Eng': 'England',
    'Aus': 'Australia',
    'Ind': 'India',
    'Pak': 'Pakistan',
    'WI': 'West Indies',
    'NZ': 'New Zealand',
    'SL': 'Sri Lanka',
    'SA': 'South Africa',
    'Zim': 'Zimbabwe',
    'Ban': 'Bangladesh',
    'Ire': 'Ireland',
    'Afgh': 'Afghanistan',
    'Scot': 'Scotland',
    'Ken': 'Kenya',
    'Neth': 'Netherlands'
}

df_test_team['Team_full']= df_test_team['Team'].map(team_name_map)
df_test['Test_results_summary'] = df_test_team

df_test['Test_results_summary']

  Team       Span  Mat    W    L  Tied  Draw   W/L     %W     Team_full
0  Eng  1877-2017  991  356  291     0   343  1.22  35.92       England
1  Aus  1877-2017  804  378  216     2   207  1.75  47.01     Australia
2   WI  1928-2017  528  168  185     1   174  0.90  31.81   West Indies
3  Ind  1932-2017  516  142  158     1   215  0.89  27.51         India
4   NZ  1930-2017  422   89  170     0   163  0.52  21.09   New Zealand
5   SA  1889-2017  417  155  138     0   124  1.12  37.17  South Africa
6  Pak  1952-2017  412  132  122     0   158  1.08  32.03      Pakistan
7   SL  1982-2017  265   84   99     0    82  0.84  31.69     Sri Lanka
8  Zim  1992-2017  104   11   66     0    27  0.16  10.57      Zimbabwe
9  Ban  2000-2017  104   10   79     0    15  0.12   9.61    Bangladesh

In [94]:
output_excel_file_for_Test = r'D:\Data\Projects\Cricket data\Cricket-Analysis\Dataset\test stats\Test_stats.xlsx'

with pd.ExcelWriter(output_excel_file_for_Test, engine='openpyxl') as writer:
    for sheetname, df in df_test.items():
        clean_sheet_name_test = sheetname[:31].replace('/','_')
        df.to_excel(writer,sheet_name=clean_sheet_name_test, index=False)
print(f"âœ… Excel file created: {output_excel_file_for_Test}")

âœ… Excel file created: D:\Data\Projects\Cricket data\Cricket-Analysis\Dataset\test stats\Test_stats.xlsx